body {
    margin: 0;
    padding: 0;
    min-width: 375px;
  }

.section-programm { background-color: #F2FCF9;
padding: 10px;}
.ourp-b {
    color: green;
    text-decoration: none;
    margin-left: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #DBF9EA;
}
.card-title {
    color: #F9AE00;
}
.everything {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(/Photos/Photos/about1ed.jpg);
      color: white;
      
}
.about-row {
    background-color: #FEFBF5;
}
.news-top {
    background-color: #F9ECDC;}


/* mobile */
  @media (min-width: 375px) {
    .navbar-brand span { display: none;
     }
     .card1-section .programme {
        text-align: center;
    }
    /* footer */
   .links {
       color: white;}
       .carousel-image img{
           display: none;
       }
.carousel-text1 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(/Photos/Photos/hero.jpg);
    color: white;
    background-size: cover;
    text-align: center;
}
.carousel-text2 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(/Photos/Photos/image2.jpg);
    color: white;
    background-size: cover;
    text-align: center;
}

.carousel-text3 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(/Photos/Photos/hero3.jpg);
    color: white;
    background-size: cover;
    text-align: center;
}
.carobutton {
    display: none;
}
.caroul-s {
    margin: 40px;
}
       }
     /* tablet */
/* laptop */
@media (min-width: 992px){
    .caroul-s {
        margin: 200px;
    }
    .bblap {
        margin-left: 20rem;
    }
    .carousel-image img{
        display: block;
    }
    .carobutton {
        display: block;}

        .carousel-text1 {
            background:#FCF4F1;
            color: black;
            background-size: cover;
            text-align: center;
        }
        .carousel-text2 {
            background: #F2FCF9;
            color: black;
            background-size: cover;
            text-align: center;
        }
        
        .carousel-text3 {
            background: #FCF4F1;
            color: black;
            background-size: cover;
            text-align: center;
        }
   
}
